@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    /* colores de la marca Miniso */
    --rojo: #e61523;
    --blanco: #ffffff;
    --rosa-quemado: #ce6b64;
    --rosa: #F79999;
    --rosa-claro: #FDE4E2;
}
p.descripcion {
    font-size: 25px; 
    font-family: "Arimo", sans-serif;
    text-align: center;
    color: #ce6b64;
    background-color: var(--rosa-claro);

}
p.tiendas {
    font-size: 20px;
    font-family: "Arimo", sans-serif;
    text-align: center;
    
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: rgb(255, 255, 255);
    background-color: var(--rojo);
    text-align: center;
    font-size: 50px;
    opacity: 2;
    animation: fadeInH1 2s ease-in forwards;
}

@keyframes fadeInH1 {
    from{
        opacity: 0,9;
        transform: translateY(-30px);
    }
    to { 
        opacity: 0,9;
        transform: translateY(0);
    }
}

.logo { 
    text-align: center;
}
.peluche {
text-align: center;
}
.producto {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--rosa-quemado);
    background-color: var(--rosa-claro);
    text-align: center;
    padding: 10px 0;
}
.producto ul {
    list-style: none;
    margin: 0;
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.producto li {
    padding: 8px 16px;
    border-radius: 20px;
    background-color: var(--blanco);
    color: var(--rosa-quemado);
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    font-size: 16px;
}
.producto li:hover {
    background: var(--rosa);
    color: var(--blanco);
}
.cajas-producto {
    display: flex;
    gap: 20px;
    justify-self: center;
    margin: 30px 0;
}
.caja {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 8px #eee;
}
.caja img {
    display: block;
    margin: 0 auto 10px;
}
.caja button {
    background: #e60012;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
}
.caja button:hover {
    background: #b8000f;
}